.code {
  height: 100vh;
  width: 94vw;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 7px 7px rgb(148, 144, 144);
}

#ide-mr {
  margin: 5px 5px;
}

#terminal-mr {
  margin: 5px 5px;
  position: absolute;
  top: 26.2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.main-terminal {
  border-radius: 5px !important;
  background-color: white;
  text-align: left;
  height: 40vh;
  width: 94vw;
  z-index: 1;
}

.main-terminal-content {
  padding: 10px !important;
  background-color: black !important;
}

.text-white {
  color: white !important;
}

.background-color {
  background-color: gray;
}

.sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0;
  width: 240px;
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color:rgb(108, 117, 125);
  overflow: hidden;
}