.comment-card {
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    box-shadow: 3px 2.5px 2.5px rgba(100, 100, 100, 0.5);
}

.comment-card-body {
    padding: 15px;
}

.comment-user-name {
    margin-left: 15px;
    font-size: 22px;
}

.comment-text {
    font-size: 20px;
}