.modal-content {
    min-height: 90vh;
    min-width: 70vw;  
    /*background-color: #FBFBFD;*/
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container  input {
    display: block;
    width: 100%;
    height: calc(1.5em + 1rem + 2px);
}
.react-datepicker__input-container  input {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
}
.datePicker {
    /*width: 55%;*/
    display: block;
    margin-left: auto;
}

.form-check-input {
    margin-top: 13px;
    transform: scale(1.5);
}

.form-check-label {
    margin-left: 5px;
    color: #495057;
    /*transform: scale(1.6);*/
    font-size: 25px;
    
}